[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
	branch = master
[submodule "custom/zsh-syntax-highlighting"]
	path = custom/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
[submodule "custom/zsh-autosuggestions"]
	path = custom/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	branch = master
